body {
  color: white;
  font-family: Helvetica;
  background-color: #292929;
  margin: 0px;
  padding: 0px;

}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-right: 240px;
  padding-bottom: 40px;
  padding-left: 240px;

}

.nav {
  margin-top: 220px;
  padding-bottom: 16px;
  border-bottom: solid 4px white;
}

a {
  text-decoration: none;
  color: #A5A39F;
  margin: 40px;
  font-size: 20px;
}

/*skills*/

#skills {
  background-color: white;
  height: 640px;
  z-index: auto;
  display: flex;
  justify-content: center;
}

.skill-card {
  color: #292929;
  text-align: center;
  box-shadow: 0px 2px 78px -20px rgba(87,82,87,0.30);
  border-radius: 12px;
  color: #292929;
  margin: 40px;
  height: 460px;
  width: 300px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  font-size: 20px;
  line-height: 2.5rem;
}

/*projects*/

#content-project {
  color: black;
  display: flex;
  justify-content: space-around;
}

.card-project {
  width: 340px;
  height: 240px;
  text-align: center;
  font-size: 14px;
  margin-top: 80px;
  margin-bottom: 80px;
  box-shadow: 0px 2px 78px -20px rgba(87,82,87,0.30);
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-project img:hover {
  display: none;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9));
  transition: 0.3s;
}

.card-button-link {
  display: none;
  border: 2px solid #292929;
  border-radius: 8px;
  padding: 12px;
  background-color: white;
}

.card-button-link:hover {
  color: white;
  background-color: #292929;
  transition: 0.3s;
}

.project-description {
  display: none;
}

.card-project:hover .project-description {
  display: inline-block;
  transition: 0.3s;
}

.card-project:hover .card-button-link {
  display: inline-block;
  transition: 0.3s;
}

/*footer*/

#footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

